<!DOCTYPE html>
<html>
  <head>
  <title>失物招领平台用户管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../../../Public/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../../Public/css/manage.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../../Public/js/html5shiv.js"></script>
      <script src="../../../Public/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="btn btn-success">adg</div>
    <div id="foot">
      <h5> CopyRight © 2001-2014 Herald.seu.edu.cn</h5>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../../Public/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../../Public/js/bootstrap.js"></script>
    <script src="../../../Public/js/manage.js"></script>
  </body>
</html>