<div id="detailImg">
	<img src="{$picture_url}" style="width:{$width}px; height:{$height}px; margin-top:{$marginTop}px; margin-left:{$marginLeft}px; ">
</div>
<div id="detailRight">
	<div id="detailInfo">
		<p>
			<?php
			if($infoType=="pick"){
			?>
			捡到
			<?php
			}else{
			?>
			丢失
			<?php
			}
			?>
			：{$thing_name}</p>
		<p>地点：{$place}</p>
		<p>时间：{$datetime}</p>
		<p>描述：{$thing_describe}</p>
		<p>发布者：{$name}</p>
		<p>发布时间：{$update_time}</p>
		<p>联系方式：<button class="btn btn-primary btn-sm getContact {$infoType}" id="{$id}">点击获取</button></p>
	</div>
	<div id="detailComment">
		<h4><strong>评论:</strong></h4>
	</div>
</div>

<div class="clear"></div>