<include file='ManageCommon:header'/>
     
     <table class="table table-hover">
      <tr class="success">
        <th id="id"><strong>信息</strong></th>
        <th id="type"><strong>类型</strong></th>
        <th><strong>名称</strong></th>
        <th><strong>地点</strong></th>
        <th><strong>时间</strong></th>
        <th id="status"><strong>状态</strong></th>
        <th id="confirm"><strong>确认</strong></th>
        <th id="delete"><strong>删除</strong></th>
      </tr>
      <tr>
        <foreach name="lsinfo" item="l">
        <td >丢失</td>
        <td>{$l.type}</td>
        <td>{$l.thing_name}</td>
        <td>{$l.place}</td>
        <td>{$l.datetime}</td>
        <td>
      <?php
      if($l['if_find']==0){
      ?>
      未归还
      <?php
      }else{
      ?>
      已归还
      <?php
      }
      ?>
    </td>
        <td><button type="lose" infoid="1" class="btn btn-sm btn-default" id="confirm"><span class="glyphicon glyphicon-ok"></span> <a href="{:U('Home/LoseInfo/confirm',array('lose_id'=>$l['lose_id']))}">
          <?php
      if($l['if_find']==0){
      ?>
      等待确认
      <?php
      }else{
      ?>
      已归还
      <?php
      }
      ?></a> </button></td>
        <td ><button type="lose" infoid="2" class="btn btn-sm btn-danger" ><span class="glyphicon glyphicon-remove"></span><a href="{:U('Home/LoseInfo/delete',array('lose_id'=>$l['lose_id']))}">删除</a></button></td>
      </tr>
    </foreach>
    <tr>
      <td colspan='8' align='right'>
        {$page}
      </td>
    </tr>
  </table>

<!--   
<?php

if(!$logStatus){

?>

    <div id="logWindow">
      <div id="logHead">
        <h2>个人中心登录</h2>
      </div>
      <form class="form-horizontal" id="loginForm" role="form">
        <div class="form-group">
          <label for="username" class="col-sm-3 control-label">用户名：</label>
          <div class="loginInput">
            <input type="username" class="form-control" id="username" placeholder="用户名">
          </div>
        </div>
        <div class="form-group">
          <label for="passward" class="col-sm-3 control-label">密码：</label>
          <div class="loginInput">
            <input type="password" class="form-control" id="password" placeholder="密码">
          </div>
        </div>
      </form>
      <div id="pleaseLogin" class="alert alert-danger">您尚未登录，请您先登录</div>
      <button class="btn btn-default" id="login">登&nbsp&nbsp&nbsp&nbsp录</button>
    </div>

<?php
}else{
?>

  
<?php
}?> -->
<include file='ManageCommon:bottom'/>